<div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 contents items-start gap-8 md:flex md:flex-wrap">
    <main id="main" class="flex-1 md:min-h-[60vh]">
        <div class="empty:hidden">
            <div class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
                <div class="empty:hidden"
                    style="display: grid; --mobile-template-areas: &quot;rewards-points&quot; &quot;rewards-management&quot; &quot;premiere-go-tracker&quot; &quot;rewards-spending&quot;; --desktop-template-areas: &quot;rewards-points rewards-points&quot; &quot;rewards-management premiere-go-tracker&quot; &quot;rewards-management rewards-spending&quot;;">
                    <section
                        class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0 grid w-full gap-y-4 pt-0 [grid-template-areas:var(--mobile-template-areas)] lg:gap-8 lg:[grid-template-areas:var(--desktop-template-areas)]">
                        <div class="grid h-fit w-full grid-cols-1 gap-4" style="grid-area: rewards-points;">
                            <div
                                class="mx-auto my-4 grid w-full max-w-[450px] grid-cols-1 items-center gap-8 lg:mx-8 lg:flex lg:max-w-fit lg:flex-row">
                                <img alt="AMC Stubs Insider Logo" config="[object Object]" loading="lazy" width="230"
                                    height="77" decoding="async" data-nimg="1"
                                    class="pointer-events-none m-auto min-w-[200px]"
                                    srcset="https://cdn.worldvectorlogo.com/logos/cgv-cinemas.svg 1x, https://cdn.worldvectorlogo.com/logos/cgv-cinemas.svg 2x"
                                    src="https://cdn.worldvectorlogo.com/logos/cgv-cinemas.svg"
                                    style="color: transparent;">
                                <div class="grid w-full flex-1 grid-cols-2 gap-4 rounded-xl lg:flex lg:flex-wrap">
                                    <div
                                        class="flex items-center rounded-xl p-4 bg-purple-800/85 col-span-1 w-full lg:w-[calc(225px_-_0.5em)]">
                                        <div class="my-auto flex items-start gap-2"><img alt="Rewards Points"
                                                config="[object Object]" loading="lazy" width="30" height="30"
                                                decoding="async" data-nimg="1"
                                                srcset="https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_30/f_auto/q_auto/amc-cdn/static/images/2024/icon-points-earned-coin-lg-3d.png 1x, https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_30/f_auto/q_auto/amc-cdn/static/images/2024/icon-points-earned-coin-lg-3d.png 2x"
                                                src="https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_30/f_auto/q_auto/amc-cdn/static/images/2024/icon-points-earned-coin-lg-3d.png"
                                                style="color: transparent;">
                                            <dl class="flex flex-col-reverse">
                                                <dt class="whitespace-nowrap text-100 text-gray-200">Points Available
                                                </dt>
                                                <dd class="text-300 font-bold">0</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div
                                        class="flex items-center rounded-xl p-4 bg-purple-800/85 col-span-1 w-full lg:w-[calc(225px_-_0.5em)]">
                                        <div class="my-auto flex items-start gap-2"><img alt="Rewards Balance"
                                                config="[object Object]" loading="lazy" width="30" height="30"
                                                decoding="async" data-nimg="1"
                                                srcset="https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_30/f_auto/q_auto/amc-cdn/static/images/2024/icon-reward-coin-3d.png 1x, https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_30/f_auto/q_auto/amc-cdn/static/images/2024/icon-reward-coin-3d.png 2x"
                                                src="https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_30/f_auto/q_auto/amc-cdn/static/images/2024/icon-reward-coin-3d.png"
                                                style="color: transparent;">
                                            <dl class="flex flex-col-reverse">
                                                <dt class="whitespace-nowrap text-100 text-gray-200">Rewards Available
                                                </dt>
                                                <dd class="text-300 font-bold">$0.00</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div
                                        class="flex items-center rounded-xl p-4 bg-purple-800/85 col-span-2 w-full lg:w-[450px]">
                                        <div class="flex h-full w-full flex-col justify-center gap-4 label">
                                            <div class="flex items-center justify-between text-200"><span>Next $5
                                                    Reward</span><span>0 / 5,000 points</span></div><progress
                                                class="mx-auto h-2 w-full rounded-full bg-white/10 [&amp;::-webkit-progress-value]:bg-pink [&amp;::-moz-progress-bar]:bg-pink [&amp;::-ms-fill]:bg-pink [&amp;::-webkit-progress-bar]:rounded-full [&amp;::-webkit-progress-bar]:bg-white/10 [&amp;::-webkit-progress-value]:rounded-full [&amp;::-moz-progress-bar]:rounded-full"
                                                max="5000" value="0"></progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid h-fit w-full grid-cols-1 gap-4" style="grid-area: rewards-management;">
                            <div class="mx-auto my-4 grid w-full max-w-[450px] col-span-2 md:col-span-1">
                                <h1 class="mb-4 headline">Your Rewards</h1>
                                <div class="grid w-full flex-1 grid-cols-2 gap-4 rounded-xl lg:flex lg:flex-wrap">
                                    <div
                                        class="flex items-center rounded-xl p-4 bg-transparent border-dashed border-[3px] border-gray-600/75 [filter:grayscale(100%)] text-gray-200 [&amp;_dt]:sr-only [&amp;_dd]:font-semibold col-span-2 w-full lg:w-[450px]">
                                        <div class="my-auto flex items-center gap-4">
                                            <div class="relative h-12 w-12"><img alt="Rewards Unavailable"
                                                    config="[object Object]" loading="lazy" width="35" height="35"
                                                    decoding="async" data-nimg="1" class="absolute inset-0 m-auto"
                                                    srcset="https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_35/f_auto/q_auto/amc-cdn/static/images/2024/icon-reward-coin-3d.png 1x, https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_35/f_auto/q_auto/amc-cdn/static/images/2024/icon-reward-coin-3d.png 2x"
                                                    src="https://amc-theatres-res.cloudinary.com/image/upload/c_fill/c_limit,w_35/f_auto/q_auto/amc-cdn/static/images/2024/icon-reward-coin-3d.png"
                                                    style="color: transparent;"></div>
                                            <dl class="flex flex-col-reverse">
                                                <dt class="whitespace-nowrap text-100 text-gray-200">Rewards Unavailable
                                                </dt>
                                                <dd class="text-300 font-bold">Check back later for your next reward!
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </section>
                </div>
            </div>
        </div>
    </main>
</div>