<ngx-spinner type="ball-scale-multiple" size="medium" color="#4A90E2">
    <div class="spinner-container">
      <p class="wave-text text-lg font-semibold text-blue-600 animate-pulse">
        Đang tải, vui lòng chờ...
      </p>
    </div>
</ngx-spinner>

<div *ngIf="modalService.showSignInModal$ | async"
    class="fixed inset-0 z-[99999] backdrop-blur-sm backdrop-brightness-20"
    style="position: fixed !important; z-index: 999999 !important; display: flex !important; align-items: center !important; justify-content: center !important;">
    <div class="relative max-w-[800px] w-[90%] max-h-[90vh] bg-black rounded border border-gray-700 overflow-hidden">
        <header
            class="sticky top-0 z-10 flex items-center border-b border-gray-700 bg-black px-8 py-4 text-500 headline"
            style="color: white !important;">
            Đăng Nhập
            <button type="button" (click)="closeModal()"
                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 text-white hocus:text-blue-500 text-sm md:text-base ml-auto aspect-square rounded-full bg-black p-3"
                aria-label="Đóng">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" viewBox="0 0 45 45"
                    width="1em" height="100%" class="h-full w-full">
                    <title>Đóng</title>
                    <path stroke-width="4.0358"
                        d="M40.341 4.769a1.112 1.112 0 0 1-.022 1.587L24.071 22.604 40.32 38.85a1.112 1.112 0 0 1-1.566 1.566L22.506 24.169 6.236 40.417a1.112 1.112 0 0 1-1.565-1.566l16.27-16.247L4.67 6.356a1.125 1.125 0 0 1-.303-.767A1.13 1.13 0 0 1 5.49 4.465c.285 0 .56.11.768.304l16.248 16.269 16.268-16.27a1.117 1.117 0 0 1 1.566 0Z">
                    </path>
                </svg>
            </button>
        </header>
        <div class="px-8 py-8 relative" data-modal-body="true">
            <form class="grid gap-4">
                <div class="flex flex-wrap items-start gap-4">
                    <label
                        class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed min-w-[300px] flex-1">
                        <span class="label" style="color: white !important;">Email</span>
                        <div class="amc-input amc-input--box">
                            <input class="input" [(ngModel)]="SignInData.userName" id="email" autocomplete="email"
                                type="text" name="email" style="color: rgb(177, 177, 177) !important;">
                        </div>
                    </label>
                    <label
                        class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed min-w-[300px] flex-1">
                        <span class="label" style="color: white !important;">Mật khẩu</span>
                        <div class="amc-input amc-input--box">
                            <input class="input" id="password" autocomplete="current-password" [type]="showPassword ? 'text' : 'password'"
                                name="password" [(ngModel)]="SignInData.password"
                                style="color: rgb(177, 177, 177) !important;">
                            <button type="button" class="cursor-pointer" aria-label="Hiển thị mật khẩu" tabindex="-1" (click)="togglePasswordVisibility()">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                    width="1em" height="100%" class="transition-all duration-200 hover:fill-blue-500">
                                    <title>Hiển thị mật khẩu</title>
                                    <path
                                        d="M22.253 17.544a10.428 10.428 0 1 0 10.427 10.54 10.456 10.456 0 0 0-10.427-10.54zm0 15.825a5.397 5.397 0 1 1 5.396-5.285 5.397 5.397 0 0 1-5.396 5.285z">
                                    </path>
                                    <path
                                        d="M44.26 17.235a28.107 28.108 0 0 0-44.044 0 2.53 2.53 0 0 0 4.104 2.81 22.964 22.964 0 0 1 35.837 0 2.53 2.53 0 1 0 4.104-2.81z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </label>
                </div>
                <button (click)="forgotPassword()" type="button"
                    class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white text-sm md:text-base">
                    Quên mật khẩu?
                </button>

                <p style="color: white !important;">Chưa phải là thành viên? <a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white text-sm md:text-base"
                        href="/dangki">Tham gia ngay</a> để bắt đầu tận hưởng ưu đãi, phần thưởng và nhiều hơn nữa tại rạp chiếu phim.</p>
                <p style="color: white !important;">Đã tham gia Cinex Cinema tại rạp? <a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white text-sm md:text-base"
                        href="/dangki">Đăng ký tài khoản</a> để tạo thông tin đăng nhập.</p>
                <div class="flex flex-wrap items-center gap-4 py-4 justify-end">
                    <button (click)="onSubmit()" type="submit"
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12">
                        Đăng nhập
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>