<dialog  *ngIf="(modalService.showTimeUpModal$ | async)"
    class="overflow-x-hidden rounded border border-gray-700 bg-black p-0 text-white backdrop:bg-black backdrop:opacity-50 [&amp;:has(.modal-loader)]:border-0 [&amp;:has(.modal-loader)]:bg-transparent"
    open="" style="max-width: 97dvw; max-height: 97dvh;" id="time_up">
    <div class="max-h-[99dvh] max-w-[600px]">
        <header
            class="sticky top-0 z-10 flex items-center border-b border-gray-700 bg-black px-8 py-4 text-500 headline"
            data-modal-header="true">Oops! Time is up.</header>
        <div class="px-8 py-8 p-4" data-modal-body="true">
            <p>We had to release any reserved tickets or food &amp; beverage items because the allotted time has
                expired.</p>
            <div class="flex flex-wrap items-center gap-4 py-4 justify-end"><a
                    class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12"
                    href="/">Return to Site</a></div>
        </div>
    </div>
</dialog>