<div>
<dialog
        class="overflow-x-hidden rounded border border-gray-700 bg-black p-0 text-white backdrop:bg-black backdrop:opacity-50 [&amp;:has(.modal-loader)]:border-0 [&amp;:has(.modal-loader)]:bg-transparent"
        style="max-width: 97dvw; max-height: 97dvh;" >
        <div class="h-[800px] max-h-[97dvh] w-[99dvw] max-w-[650px]">
            <header
                class="sticky top-0 z-10 flex items-center border-b border-gray-700 bg-black px-8 py-4 text-500 headline"
                data-modal-header="true">
                <h1>Find a Theatre</h1><button type="button"
                    class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 text-white hocus:text-blue-500 text-sm md:text-base ml-auto aspect-square rounded-full bg-black p-3"
                    aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor"
                        viewBox="0 0 45 45" width="1em" height="100%" class="h-full w-full">
                        <title>Close</title>
                        <path stroke-width="4.0358"
                            d="M40.341 4.769a1.112 1.112 0 0 1-.022 1.587L24.071 22.604 40.32 38.85a1.112 1.112 0 0 1-1.566 1.566L22.506 24.169 6.236 40.417a1.112 1.112 0 0 1-1.565-1.566l16.27-16.247L4.67 6.356a1.125 1.125 0 0 1-.303-.767A1.13 1.13 0 0 1 5.49 4.465c.285 0 .56.11.768.304l16.248 16.269 16.268-16.27a1.117 1.117 0 0 1 1.566 0Z">
                        </path>
                    </svg></button>
            </header>
            <div class="px-8 py-8 relative grid content-start gap-4 pt-4" data-modal-body="true">
                <form role="search" aria-label="Search for Your Theatre" class="sticky top-2 z-10 bg-black py-2 "><label
                        class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed flex-1"><span
                            class="sr-only">Search for theatres by city, zip or name</span>
                        <div class="amc-input amc-input--box"><input class="input"
                                placeholder="Search by City, Zip or Theatre" type="text" name="query"><button
                                type="submit" disabled=""
                                class="transition-colors hover:text-blue-500 disabled:brightness-25 disabled:grayscale"><svg
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                    width="1em" height="100%">
                                    <title>Submit</title>
                                    <path
                                        d="M37.151 17.176A17.176 17.176 0 1 0 19.976 34.35 17.204 17.204 0 0 0 37.15 17.176zM19.976 32.27A15.095 15.095 0 1 1 35.07 17.176 15.095 15.095 0 0 1 19.976 32.27zm13.493.393a1.05 1.05 0 0 0-1.63 1.322l8.573 10.625a1.05 1.05 0 1 0 1.63-1.32z">
                                    </path>
                                </svg></button></div>
                    </label></form><button type="button"
                    class="text-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white flex items-center gap-2 text-sm md:text-base"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45" width="1em"
                        height="100%">
                        <path
                            d="M45 22.5a1.012 1.012 0 0 0-1.013-1.012h-4.612A16.875 16.875 0 0 0 23.512 5.625V1.013a1.012 1.012 0 0 0-2.024 0v4.612A16.875 16.875 0 0 0 5.963 21.488h-4.95a1.012 1.012 0 0 0 0 2.024H5.99A16.706 16.706 0 0 0 21.488 39.01v4.978a1.012 1.012 0 0 0 2.024 0v-4.95a16.875 16.875 0 0 0 15.863-15.524h4.64A1.012 1.012 0 0 0 45 22.5zM22.669 37.097A14.766 14.766 0 1 1 37.434 22.33 14.794 14.794 0 0 1 22.67 37.097z">
                        </path>
                        <path
                            d="M22.669 12.769a9.563 9.563 0 1 0 9.562 9.562 9.59 9.59 0 0 0-9.562-9.562zm0 17.128a7.566 7.566 0 1 1 7.565-7.538 7.566 7.566 0 0 1-7.565 7.538z">
                        </path>
                    </svg>Use Current Location</button>
                <form>
                    <div class="flex flex-wrap items-center gap-4 justify-end sticky bottom-0 bg-black p-4"><button
                            type="submit"
                            class="text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12 hidden"
                            disabled="">Continue</button></div>
                </form>
            </div>
        </div>
    </dialog>
    </div>