<div class="min-h-screen flex items-center justify-center bg-gray-800">
  <div class="bg-gray-700 p-8 rounded-lg shadow-lg w-96 border border-gray-600">
      <!-- Logo Cinex -->
      <div class="flex justify-center mb-4">
          <img src="https://res.cloudinary.com/dw44ghjmu/image/upload/v1745400720/cinexLogo_w6wqyi.png" 
               alt="Cinex Logo" 
               class="cinex-logo h-16 object-contain">
      </div>
      
      <h2 class="text-3xl font-bold mb-6 text-center text-white drop-shadow-md">Đặt Lại Mật Khẩu</h2>
      
      <p class="text-gray-200 text-center mb-6">
          Nhập thông tin bên dưới để đặt lại mật khẩu của bạn.
      </p>
      
      <div class="mb-4">
          <label for="token" class="block text-sm font-medium text-gray-200 mb-2">Mã Xác Thực</label>
          <input 
              type="text"
              id="token"
              [(ngModel)]="resetPasswordData.token"
              name="token"
              required
              class="w-full h-12 px-4 text-lg border border-gray-500 bg-gray-800 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
              placeholder="Nhập mã xác thực"
          />
      </div>

      <div class="mb-4">
          <label for="newPassword" class="block text-sm font-medium text-gray-200 mb-2">Mật Khẩu Mới</label>
          <input 
              type="password"
              id="newPassword"
              [(ngModel)]="resetPasswordData.newPassword"
              name="newPassword"
              required
              class="w-full h-12 px-4 text-lg border border-gray-500 bg-gray-800 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
              placeholder="Nhập mật khẩu mới"
          />
      </div>

      <div id="error" class="text-red-500 text-sm mb-4 text-center hidden">
          Vui lòng nhập đầy đủ thông tin
      </div>

      <button 
          (click)="onSubmit()"
          class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600 transition duration-300"
      >
          Đặt Lại Mật Khẩu
      </button>

      <div class="text-center mt-4 text-sm text-gray-200">
          <a (click)="onBackToHome()" 
             class="text-blue-500 hover:text-blue hover:underline bg-transparent border-none cursor-pointer"
          >
              Quay lại trang chủ
          </a>
      </div>
  </div>
</div>
