<main id="main">
    <h1 class="sr-only">Find a Theatre</h1>
    <div class="empty:hidden">
        <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
            <div class="grid gap-4">
                <h2 class="text-4xl font-bold">Find a Theatre</h2>
                <div class="flex flex-col gap-4">
                    <form class="relative"><label
                            class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                                class="sr-only">Search for theatres by city, zip or theatre name</span>
                            <div class="amc-input amc-input--box" data-size="700"><input class="input"
                                    placeholder="Search by City, Zip or Theatre" type="text" name="q"
                                    data-listener-added_1b3e892e="true"><button type="submit" disabled=""
                                    class="transition-colors disabled:text-gray-200"><svg
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                        width="1em" height="100%">
                                        <title>Submit</title>
                                        <path
                                            d="M37.151 17.176A17.176 17.176 0 1 0 19.976 34.35 17.204 17.204 0 0 0 37.15 17.176zM19.976 32.27A15.095 15.095 0 1 1 35.07 17.176 15.095 15.095 0 0 1 19.976 32.27zm13.493.393a1.05 1.05 0 0 0-1.63 1.322l8.573 10.625a1.05 1.05 0 1 0 1.63-1.32z">
                                        </path>
                                    </svg></button></div>
                                </label></form><button  (click)="getCurrentLocation()" type="button"
                                class="text-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white flex items-center gap-2 text-sm md:text-base"><svg
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45" width="1em"
                                    height="100%">
                                    <path
                                        d="M45 22.5a1.012 1.012 0 0 0-1.013-1.012h-4.612A16.875 16.875 0 0 0 23.512 5.625V1.013a1.012 1.012 0 0 0-2.024 0v4.612A16.875 16.875 0 0 0 5.963 21.488h-4.95a1.012 1.012 0 0 0 0 2.024H5.99A16.706 16.706 0 0 0 21.488 39.01v4.978a1.012 1.012 0 0 0 2.024 0v-4.95a16.875 16.875 0 0 0 15.863-15.524h4.64A1.012 1.012 0 0 0 45 22.5zM22.669 37.097A14.766 14.766 0 1 1 37.434 22.33 14.794 14.794 0 0 1 22.67 37.097z">
                                    </path>
                                    <path
                                        d="M22.669 12.769a9.563 9.563 0 1 0 9.562 9.562 9.59 9.59 0 0 0-9.562-9.562zm0 17.128a7.566 7.566 0 1 1 7.565-7.538 7.566 7.566 0 0 1-7.565 7.538z">
                                    </path>
                                </svg>Use Current Location</button>
                                <p *ngIf="address">Address: {{ address }}</p>
                </div>
            </div>
        </section>
    </div>
    <div class="empty:hidden">
        <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
            <div dir="ltr" data-orientation="horizontal">
                <header class="flex flex-wrap justify-between gap-4 border-b-2 pb-2 pt-8">
                    <h1 class="text-2xl font-bold md:text-4xl">All Theatres</h1>
                    <div role="tablist" aria-orientation="horizontal" class="flex gap-3 font-semibold" tabindex="0"
                        data-orientation="horizontal" style="outline: none;"><button type="button" role="tab"
                            aria-selected="true" aria-controls="radix-:r6tg:-content-Markets" data-state="active"
                            id="radix-:r6tg:-trigger-Markets"
                            class="font-semibold decoration-2 underline-offset-8 transition-colors data-[state=active]:underline hover:data-[state=inactive]:text-blue-500 data-[state=inactive]:text-gray-200"
                            tabindex="0" data-orientation="horizontal"
                            data-radix-collection-item="">Markets</button>
                            
                            <button type="button" role="tab"
                            aria-selected="false" aria-controls="radix-:r6tg:-content-States" data-state="inactive"
                            id="radix-:r6tg:-trigger-States"
                            class="font-semibold decoration-2 underline-offset-8 transition-colors data-[state=active]:underline hover:data-[state=inactive]:text-blue-500 data-[state=inactive]:text-gray-200"
                            tabindex="-1" data-orientation="horizontal" data-radix-collection-item="">States</button>
                            
                    </div>
                </header>
                <div data-state="active" data-orientation="horizontal" role="tabpanel"
                    aria-labelledby="radix-:r6tg:-trigger-Markets" id="radix-:r6tg:-content-Markets" tabindex="0"
                    class="column-stack space-y-5 pt-5" style="">
                    @for (item of provinces; track $index) {
                    <div class="column-item space-y-5">
                        <div>
                            <a class="group transition-colors text-blue-500 hocus:text-white inline-flex items-center gap-1 [&>.chevron]:hidden md:[&>.chevron]:block"
                                [href]="'/movie-theatres/'">
                                {{ item.name }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                    width="1em" height="100%"
                                    class="chevron transition-transform group-hover:translate-x-1" aria-hidden="true">
                                    <path
                                        d="m29.6 22.543-19.31 19.31a2.085 2.085 0 0 0 2.857 2.856l20.767-20.766a2.085 2.085 0 0 0 0-2.857L13.233.291a2.085 2.085 0 0 0-2.857 2.856z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    }
                </div>
                <div data-state="inactive" data-orientation="horizontal" role="tabpanel"
                    aria-labelledby="radix-:r6tg:-trigger-States" id="radix-:r6tg:-content-States" tabindex="0"
                    class="column-stack space-y-5 pt-5" hidden=""></div>
            </div>
        </section>
    </div>
</main>