<div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 contents items-start gap-8 md:flex md:flex-wrap">
    <main id="main" class="flex-1 md:min-h-[60vh]">
        <div class="empty:hidden">
            <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
                <header>
                    <h2 class="border-b border-b-gray-500 pb-2 text-500 headline">General Info</h2>
                </header>
                <form class="mt-4 grid gap-6">
                    <label
                        class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                            class="label">Date of Birth</span>
                        <div class="flex gap-2">{{userInfo?.dob}}</div>
                    </label>
                    <label class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                            class="label">Email</span>
                        <div class="amc-input amc-input--box"><input class="input" inputmode="email" type="text"
                                value="{{userInfo?.email}}" name="emailAddress"></div>
                    </label>

                    <label class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                        class="label">User Name</span>
                    <div class="amc-input amc-input--box"><input class="input" autocomplete="tel" type="text"
                            value="{{userInfo?.userName}}" name="userName"></div>
                 </label>
                        <label class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                            class="label">Display Name</span>
                        <div class="amc-input amc-input--box"><input class="input" autocomplete="tel" type="text"
                                value="{{userInfo?.name}}" name="userName"></div>
                    </label>

                    <label class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                            class="label">Phone Number</span>
                        <div class="amc-input amc-input--box"><input class="input" autocomplete="tel" type="text"
                                value="{{userInfo?.phoneNumber}}" name="mobilePhoneNumber"></div>
                    </label>

                    <div class="grid items-start gap-4 md:grid-cols-3">
                        <span class="label md:col-span-3">
                            Address</span>
                            <label
                            class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed md:col-span-3">
                            <div class="amc-input amc-input--box"><input class="input" autocomplete="address-line1"
                                    placeholder="Address" type="text" value="{{userInfo?.address}}" name="address1"></div>
                        </label>
                    </div>
                    <div class="grid gap-2 text-gray-700">
                            <div class="grid gap-2 text-white"> 
                                <span class="label md:col-span-3">
                                    Gender
                                </span>
                                <div class="flex items-center gap-4">
                                    <label class="flex items-center gap-2">
                                        <input
                                            type="radio"
                                            name="gender"
                                            [value]="1"
                                            [checked]="userInfo?.sex === 1"
                                            class="h-4 w-4 text-blue-500 focus:ring-blue-500"
                                        />
                                        <span class="text-white">Male</span> 
                                    </label>
                                    <label class="flex items-center gap-2">
                                        <input
                                            type="radio"
                                            name="gender"
                                            [value]="2"
                                            [checked]="userInfo?.sex === 2"
                                            class="h-4 w-4 text-blue-500 focus:ring-blue-500"
                                        />
                                        <span class="text-white">Female</span> 
                                    </label>
                                </div>
                            </div>
                            
                      </div>
                    <div class="flex flex-wrap items-center gap-4 py-4 justify-end"><button type="submit"
                            class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12"
                            disabled="">Save Changes</button><a
                            class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12"
                            href="/my-amc/personality-portal/intro">Personality Portal</a></div>
                </form>
            </section>
        </div>
        <div class="empty:hidden">
            <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
                <header>
                    <h1 class="border-b border-b-gray-500 pb-2 text-500 headline">Change Password</h1>
                    <div class="rich-text">
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="">Your new password must not be the same as your current password, and it must
                                contain at least 8 characters including two of the following:</span></p>
                        <ul class="ml-4 list-disc">
                            <li class="mb-[.5em]"><span class="">Uppercase Letter (A-Z)</span></li>
                            <li class="mb-[.5em]"><span class="">Number (0-9)</span></li>
                            <li class="mb-[.5em]"><span class="">Special Character (#$%! for example)</span></li>
                        </ul>
                    </div>
                </header>
                <form class="grid grid-cols-1 items-start gap-4 pt-4 md:grid-cols-2"><label
                        class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                            class="label">Current Password</span>
                        <div class="amc-input amc-input--box">
                            
                            <input [(ngModel)]="changePassword.currentPassword" class="input" id="old-password" type="password"
                                name="currentPassword"><button type="button" class="cursor-pointer"
                                aria-label="Show Password" tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="transition-all duration-200 hover:fill-blue-500">
                                    <title>Show Password</title>
                                    <path
                                        d="M22.253 17.544a10.428 10.428 0 1 0 10.427 10.54 10.456 10.456 0 0 0-10.427-10.54zm0 15.825a5.397 5.397 0 1 1 5.396-5.285 5.397 5.397 0 0 1-5.396 5.285z">
                                    </path>
                                    <path
                                        d="M44.26 17.235a28.107 28.108 0 0 0-44.044 0 2.53 2.53 0 0 0 4.104 2.81 22.964 22.964 0 0 1 35.837 0 2.53 2.53 0 1 0 4.104-2.81z">
                                    </path>
                                </svg></button></div>
                    </label><label class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                            class="label">New Password</span>
                        <div class="amc-input amc-input--box">
                            
                            <input [(ngModel)]="changePassword.newPassword" class="input" id="new-password"
                                autocomplete="new-password" type="password" name="newPassword"><button type="button"
                                class="cursor-pointer" aria-label="Show Password" tabindex="-1"><svg
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                    width="1em" height="100%" class="transition-all duration-200 hover:fill-blue-500">
                                    <title>Show Password</title>
                                    <path
                                        d="M22.253 17.544a10.428 10.428 0 1 0 10.427 10.54 10.456 10.456 0 0 0-10.427-10.54zm0 15.825a5.397 5.397 0 1 1 5.396-5.285 5.397 5.397 0 0 1-5.396 5.285z">
                                    </path>
                                    <path
                                        d="M44.26 17.235a28.107 28.108 0 0 0-44.044 0 2.53 2.53 0 0 0 4.104 2.81 22.964 22.964 0 0 1 35.837 0 2.53 2.53 0 1 0 4.104-2.81z">
                                    </path>
                                </svg></button></div>
                    </label>
                    <div class="flex flex-wrap items-center gap-4 py-4 justify-end md:col-span-2"><button (click)="onChangePassword()" type="submit"
                            class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12">Save
                            Changes</button></div>
                </form>
            </section>
        </div>

    </main>
</div>