<div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 contents items-start gap-8 md:flex md:flex-wrap">
    <main id="main" class="flex-1 md:min-h-[60vh]">
        <div class="empty:hidden">
            <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
                <header>
                    <div class="flex flex-wrap items-baseline justify-between border-b border-gray-500">
                        <h1 class="mb-2 text-500 headline">Purchases</h1>
                        <div>
                            <div class="amc-input amc-input--none relative"><select class="">
                                    <option value="30d" selected="">Past 30 days</option>
                                    <option value="60d">Past 60 days</option>
                                    <option value="90d">Past 90 days</option>
                                    <option value="1y">Past year</option>
                                    <option value="2024">2024</option>
                                    <option value="2023">2023</option>
                                </select><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                    width="1em" height="100%"
                                    class="pointer-events-none absolute right-4 h-[1em] w-[1em]"
                                    aria-label="Expand Options">
                                    <path
                                        d="M22.464 29.594 3.067 10.48c-.856-.57-2.283-.285-2.853.856-.285.57-.285 1.141 0 1.997l20.824 20.824c.856.856 1.997.856 2.853 0L44.715 13.62c.57-.856.285-2.282-.856-2.852-.57-.286-1.426-.286-1.997 0z">
                                    </path>
                                </svg></div>
                        </div>
                    </div>
                    <div class="rich-text">
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="">Refunds may be requested before the posted showtime.&nbsp;</span><a
                                class="group transition-colors text-blue-500 hocus:text-white" target="_self"
                                href="/chinhsach"><span class="">Our Refund Policy</span></a></p>
                    </div>
                </header>
                <div class="mt-4">
                    <div class="mb-8 flex max-w-[760px] flex-col gap-4" data-orientation="vertical"></div>
                </div>
            </section>
        </div>
    </main>
</div>