<dialog
    class="overflow-x-hidden rounded border border-gray-700 bg-black p-0 text-white backdrop:bg-black backdrop:opacity-50 [&amp;:has(.modal-loader)]:border-0 [&amp;:has(.modal-loader)]:bg-transparent"
    style="max-width: 97dvw; max-height: 97dvh;" open="">
    <div class="max-h-[99dvh] max-w-[99dvw]">
        <header class="sr-only">Exit Order</header>
        <div class="px-8 py-8" data-modal-body="true">
            <p role="alert" class="my-4 text-lg">Closing this window will cancel your order. Are you sure?</p>
            <div class="flex flex-wrap items-center gap-4 py-4 justify-end"><button type="button"
                    class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm md:text-base h-12">No</button><button
                    type="button"
                    class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12">Yes</button>
            </div>
        </div>
    </div>
</dialog>