<body class="relative bg-black text-white [&amp;:has(dialog[open],[data-body-scroll=disabled])]:overflow-hidden"
    monica-id="ofpnmcalabcbjgholdjcjblkibolbppb" monica-version="7.8.0">
    <div class="flex h-[100dvh] flex-col"><!--$--><!--$--><!--$--><!--/$--><!--/$--><!--/$-->
        <header class="flex flex-col border-b border-gray-700 bg-checkout-black">
            <div class="border-b border-gray-700 bg-checkout-black">
                <div
                    class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 relative flex items-center justify-center py-4 text-400 label">
                    <button type="button"
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base absolute left-0 z-10"
                        aria-label="Browser Back"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 45 45" width="1em" height="100%" class="m-2 h-5 w-5">
                            <title>Back</title>
                            <path
                                d="M14.974 22.5 34.321 3.153A2.09 2.09 0 0 0 31.46.291l-20.892 20.75a2.09 2.09 0 0 0 0 2.861L31.373 44.71a2.09 2.09 0 0 0 2.862-2.862z">
                            </path>
                        </svg></button>
                    <h1>Select Tickets</h1><a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base absolute right-0"
                        href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor"
                            viewBox="0 0 45 45" width="1em" height="100%" class="m-2 h-5 w-5">
                            <title>Close</title>
                            <path stroke-width="4.0358"
                                d="M40.341 4.769a1.112 1.112 0 0 1-.022 1.587L24.071 22.604 40.32 38.85a1.112 1.112 0 0 1-1.566 1.566L22.506 24.169 6.236 40.417a1.112 1.112 0 0 1-1.565-1.566l16.27-16.247L4.67 6.356a1.125 1.125 0 0 1-.303-.767A1.13 1.13 0 0 1 5.49 4.465c.285 0 .56.11.768.304l16.248 16.269 16.268-16.27a1.117 1.117 0 0 1 1.566 0Z">
                            </path>
                        </svg></a>
                </div>
            </div>
            <div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 flex items-center gap-4 py-2 md:py-4">
                <h2 class="sr-only">Showtime Information</h2><img alt="" config="[object Object]" loading="lazy"
                    width="90" height="90" decoding="async" data-nimg="1"
                    class="aspect-square w-[90px] hidden md:inline-block"
                    srcset="https://amc-theatres-res.cloudinary.com/image/upload/c_thumb,w_90,h_90,g_face/r_max/f_auto/q_auto/v1734114336/amc-cdn/production/2/movies/67500/67472/PosterDynamic/168453.jpg 1x, https://amc-theatres-res.cloudinary.com/image/upload/c_thumb,w_90,h_90,g_face/r_max/f_auto/q_auto/v1734114336/amc-cdn/production/2/movies/67500/67472/PosterDynamic/168453.jpg 2x"
                    src="https://amc-theatres-res.cloudinary.com/image/upload/c_thumb,w_90,h_90,g_face/r_max/f_auto/q_auto/v1734114336/amc-cdn/production/2/movies/67500/67472/PosterDynamic/168453.jpg"
                    style="color: transparent;">
                <div class="flex flex-col md:gap-2">
                    <h3 class="text-800 headline">Captain America: Brave New World</h3>
                    <ul
                        class="flex flex-wrap gap-y-2 leading-none relative z-50 mt-2 text-50 font-semibold uppercase md:text-100">
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            AMC Village 7</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            Tuesday, February 18, 2025</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            12:30 pm</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            <span class="flex items-center gap-[0.5ch]" aria-label="Runtime: 1 HR 58 MIN" role="group">1
                                HR 58 MIN <button
                                    class="h-[1em] w-[1em] text-blue-500 transition-colors hover:text-white"
                                    aria-label="More Info" type="button" aria-haspopup="dialog" aria-expanded="false"
                                    aria-controls="radix-:r0:" data-state="closed"><svg
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                        width="1em" height="100%" class="h-[1em] w-[1em]">
                                        <path
                                            d="M22.5 45C10.125 45 0 34.875 0 22.5S10.125 0 22.5 0 45 10.125 45 22.5 34.875 45 22.5 45zm0-41.625c-10.35 0-18.9 8.55-18.9 18.9 0 10.35 8.55 18.9 18.9 18.9 10.35 0 18.9-8.55 18.9-18.9 0-10.35-8.55-18.9-18.9-18.9z">
                                        </path>
                                        <path
                                            d="M15.75 17.55c0-3.6 3.15-6.075 6.75-6.075 3.15 0 6.75 2.25 6.75 5.625 0 2.25-1.125 3.825-2.925 4.95-.675.45-1.35.9-1.8 1.575-.675.675-.9 1.575-.9 2.7H20.7c-.225-.45-.225-.9-.225-1.35 0-4.5 5.4-4.725 5.4-7.875 0-1.575-1.575-2.7-3.15-2.7-2.025 0-3.375 1.575-3.375 3.375v.675l-3.375-.225c-.225.225-.225-.225-.225-.675zm6.3 15.75c1.125 0 2.025-.9 2.025-2.025s-.9-2.025-2.025-2.025-2.025.9-2.025 2.025c-.225.9.9 2.025 2.025 2.025z">
                                        </path>
                                    </svg></button></span></li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            <span class="inline-flex items-center gap-1 uppercase" aria-label="MPAA Rating: PG13"
                                role="group">PG13</span></li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            AMC Signature Recliners</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            Reserved Seating</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            RealD 3D</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            Laser at AMC</li>
                        <li
                            class="-translate-x-[0.5ch] pl-[0.5ch] [&amp;:not(:last-child)]:border-r-2 [&amp;:not(:last-child)]:border-r-gray-300 [&amp;:not(:last-child)]:pr-[0.5ch]">
                            Closed Caption</li>
                    </ul>
                </div>
            </div>
        </header>
        <main id="main" class="relative flex-1 overflow-auto">
            <div role="banner" class="relative caption text-200" style="background-color: rgb(59, 2, 73);">
                <div
                    class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 relative flex items-center justify-center gap-4 py-2 [&amp;_p]:mb-0">
                    <div class="rich-text text-200 caption">
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="">If you're a member, sign in now to take advantage of AMC Stubs
                                benefits.</span></p>
                    </div><button
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm h-11"
                        id="67609f060ab310001aba18c1" type="button">Sign In</button>
                </div>
            </div>
            <div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 grid gap-4 py-4 [&amp;_p:last-child]:mb-0">
                <div class="rich-text">
                    <p
                        class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex text-center justify-center">
                        <span class="font-bold text-300 label">Discount Tuesdays savings will be shown on your order
                            summary, if applicable.</span></p>
                </div>
                <div class="rich-text">
                    <p
                        class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex text-center justify-center">
                        <span class="font-bold text-300 label">Discount Matinee ticket prices are</span><span
                            class="text-300 label">&nbsp;</span><span class="font-bold text-300 label">UP TO 20%
                            OFF</span><span class="text-300 label">&nbsp;</span><span
                            class="font-bold text-300 label">the evening base ticket price every day. Discounted price
                            shown below!</span></p>
                </div>
                <form class="flex flex-col items-center justify-center gap-4">
                    <p class="h-8 text-lg font-bold">Select 2 Remaining Tickets</p>
                    <div class="grid w-full max-w-xl grid-cols-[1fr_auto_1fr] gap-y-8">
                        <div class="flex flex-1 flex-col">
                            <p class="font-bold md:text-2xl">Adult</p>
                        </div>
                        <div
                            class="md:flex-0 flex flex-1 flex-col items-center justify-center text-center font-bold md:text-2xl">
                            $23.18<p class="text-xs font-normal">$20.99 +$2.19 Fee*</p>
                        </div>
                        <div class="flex flex-1 items-start justify-end md:gap-1"><button type="button"
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base py-0"
                                aria-label="Remove Adult Ticket" disabled=""><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="h-6 w-6 md:h-10 md:w-10">
                                    <title>Remove Adult Ticket</title>
                                    <path d="M13.022 21.516a.928.928 0 1 0 0 1.828h18.815a.928.928 0 0 0 0-1.828z">
                                    </path>
                                    <path
                                        d="M22.5 0A22.5 22.5 0 1 0 45 22.5 22.5 22.5 0 0 0 22.5 0zm0 43.116A20.672 20.672 0 1 1 43.087 22.5 20.672 20.672 0 0 1 22.5 43.116z">
                                    </path>
                                </svg></button><span
                                class="inline-block min-w-[1ch] text-center font-bold md:text-2xl">0</span><button
                                type="button"
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base py-0"
                                aria-label="Add Adult Ticket"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="h-6 w-6 md:h-10 md:w-10">
                                    <title>Add Adult Ticket</title>
                                    <path
                                        d="M23.428 21.572v-8.438a.928.928 0 0 0-1.828 0v8.438h-8.438a.928.928 0 1 0 0 1.828H21.6v8.438a.928.928 0 0 0 1.828 0V23.4h8.438a.928.928 0 0 0 0-1.828z">
                                    </path>
                                    <path
                                        d="M22.5 0A22.5 22.5 0 1 0 45 22.5 22.5 22.5 0 0 0 22.5 0zm0 43.172A20.672 20.672 0 1 1 43.172 22.5 20.672 20.672 0 0 1 22.5 43.172z">
                                    </path>
                                </svg></button></div>
                        <div class="flex flex-1 flex-col">
                            <p class="font-bold md:text-2xl">Child</p>
                            <p class="text-sm font-semibold text-gray-200">Age 2-12</p>
                        </div>
                        <div
                            class="md:flex-0 flex flex-1 flex-col items-center justify-center text-center font-bold md:text-2xl">
                            $20.88<p class="text-xs font-normal">$18.69 +$2.19 Fee*</p>
                        </div>
                        <div class="flex flex-1 items-start justify-end md:gap-1"><button type="button"
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base py-0"
                                aria-label="Remove Child Ticket" disabled=""><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="h-6 w-6 md:h-10 md:w-10">
                                    <title>Remove Child Ticket</title>
                                    <path d="M13.022 21.516a.928.928 0 1 0 0 1.828h18.815a.928.928 0 0 0 0-1.828z">
                                    </path>
                                    <path
                                        d="M22.5 0A22.5 22.5 0 1 0 45 22.5 22.5 22.5 0 0 0 22.5 0zm0 43.116A20.672 20.672 0 1 1 43.087 22.5 20.672 20.672 0 0 1 22.5 43.116z">
                                    </path>
                                </svg></button><span
                                class="inline-block min-w-[1ch] text-center font-bold md:text-2xl">0</span><button
                                type="button"
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base py-0"
                                aria-label="Add Child Ticket"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="h-6 w-6 md:h-10 md:w-10">
                                    <title>Add Child Ticket</title>
                                    <path
                                        d="M23.428 21.572v-8.438a.928.928 0 0 0-1.828 0v8.438h-8.438a.928.928 0 1 0 0 1.828H21.6v8.438a.928.928 0 0 0 1.828 0V23.4h8.438a.928.928 0 0 0 0-1.828z">
                                    </path>
                                    <path
                                        d="M22.5 0A22.5 22.5 0 1 0 45 22.5 22.5 22.5 0 0 0 22.5 0zm0 43.172A20.672 20.672 0 1 1 43.172 22.5 20.672 20.672 0 0 1 22.5 43.172z">
                                    </path>
                                </svg></button></div>
                        <div class="flex flex-1 flex-col">
                            <p class="font-bold md:text-2xl">Senior</p>
                            <p class="text-sm font-semibold text-gray-200">Age 60+</p>
                        </div>
                        <div
                            class="md:flex-0 flex flex-1 flex-col items-center justify-center text-center font-bold md:text-2xl">
                            $22.08<p class="text-xs font-normal">$19.89 +$2.19 Fee*</p>
                        </div>
                        <div class="flex flex-1 items-start justify-end md:gap-1"><button type="button"
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base py-0"
                                aria-label="Remove Senior Ticket" disabled=""><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="h-6 w-6 md:h-10 md:w-10">
                                    <title>Remove Senior Ticket</title>
                                    <path d="M13.022 21.516a.928.928 0 1 0 0 1.828h18.815a.928.928 0 0 0 0-1.828z">
                                    </path>
                                    <path
                                        d="M22.5 0A22.5 22.5 0 1 0 45 22.5 22.5 22.5 0 0 0 22.5 0zm0 43.116A20.672 20.672 0 1 1 43.087 22.5 20.672 20.672 0 0 1 22.5 43.116z">
                                    </path>
                                </svg></button><span
                                class="inline-block min-w-[1ch] text-center font-bold md:text-2xl">0</span><button
                                type="button"
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base py-0"
                                aria-label="Add Senior Ticket"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                    class="h-6 w-6 md:h-10 md:w-10">
                                    <title>Add Senior Ticket</title>
                                    <path
                                        d="M23.428 21.572v-8.438a.928.928 0 0 0-1.828 0v8.438h-8.438a.928.928 0 1 0 0 1.828H21.6v8.438a.928.928 0 0 0 1.828 0V23.4h8.438a.928.928 0 0 0 0-1.828z">
                                    </path>
                                    <path
                                        d="M22.5 0A22.5 22.5 0 1 0 45 22.5 22.5 22.5 0 0 0 22.5 0zm0 43.172A20.672 20.672 0 1 1 43.172 22.5 20.672 20.672 0 0 1 22.5 43.172z">
                                    </path>
                                </svg></button></div>
                    </div>
                    <p
                        class="mt-5 w-full max-w-[500px] rounded-lg bg-gray-600 p-2 text-center text-xs text-white md:text-sm">
                        *This Convenience Fee is waived for AMC Stubs A-List and Premiere members, and for Premiere
                        <span class="italic">GO!</span> members purchasing 4+ tickets.</p>
                </form>
                <div class="rich-text">
                    <p
                        class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                        <span class="text-100 footnote" style="color: rgb(148, 166, 171);">UP TO 20%
                            OFF&nbsp;</span><span class="italic text-100 footnote"
                            style="color: rgb(148, 166, 171);">the evening base ticket price for the same title and
                            ticket type (Adult, Child, Senior, etc.) for showtimes before 4pm at select AMC, AMC
                            DINE-IN, and AMC CLASSIC locations. Prices do not include tax. Offer valid at participating
                            locations only. Discount is automatically applied. Available at the box office, online at
                            AMCTheatres.com and the AMC Mobile App. Not valid with any other offer. Offer not combinable
                            with AMC Stubs Discount Tuesday discount. Lower price will be honored. Surcharges will apply
                            for premium formats, alternative content and special events. Exclusions apply.</span></p>
                </div>
            </div>
        </main>
        <footer class="border-t border-gray-700 bg-checkout-black">
            <div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0">
                <div class="flex flex-wrap items-center gap-4 py-4 justify-end">
                    <div class="flex items-center gap-4">
                        <div class="grid gap-1 text-200 uppercase text-gray-200"><span>0 Tickets Selected</span></div>
                        <button type="button"
                            class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12"
                            disabled="">Continue</button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div role="region" aria-label="Notifications (F8)" tabindex="-1" style="pointer-events:none">
        <ol tabindex="-1" class="fixed bottom-0 right-0 grid w-full max-w-full gap-4 p-4 md:w-96"></ol>
    </div>
    <dialog
        class="flex items-center justify-center empty:hidden w-[100vw] h-[100dvh] bg-transparent max-w-[100vw] max-h-[100dvh]">
    </dialog>
   
</body>