<main id="main">
    <h1 class="sr-only">Movies at CineX | View Showtimes &amp; Get Tickets to New Movies in Theaters</h1>
    <div class="empty:hidden">
        <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
            <div dir="ltr" data-orientation="horizontal">
                <header>
                    <h2 class="text-4xl font-bold">Movies at CineX</h2>
                    <div class="flex flex-wrap gap-4 border-b-2 pb-2 pt-6">
                        <div class="w-max flex-1 text-2xl font-bold">
                            <div
                                class="relative flex w-max items-center justify-between gap-2 transition-all duration-200 focus-within:text-blue-500 hover:text-blue-500 w-max">
                                <span class="line-clamp-2 text-ellipsis text-center">Phim Đề Xuất</span></div>
                        </div>
                        <div role="tablist" aria-orientation="horizontal" class="flex gap-3 font-semibold" tabindex="0"
                            data-orientation="horizontal" style="outline: none;">
                            
                            <div class="flex space-x-4">
                                <!-- Now Playing -->
                                <button type="button"
                                        (click)="changeTab(1)"
                                        [ngClass]="{
                                          'underline text-blue-500': selectedType === 1,
                                          'text-gray-400': selectedType !== 1
                                        }"
                                        role="tab"
                                        [attr.aria-selected]="selectedType === 1"
                                        aria-controls="radix-now-playing"
                                        [attr.data-state]="selectedType === 1 ? 'active' : 'inactive'"
                                        id="radix-trigger-now-playing"
                                        class="font-semibold decoration-2 underline-offset-8 transition-colors hover:text-blue-500"
                                        tabindex="-1"
                                        data-orientation="horizontal">
                                  Đang Chiếu
                                </button>
                              
                                <!-- Coming Soon -->
                                <button type="button"
                                        (click)="changeTab(2)"
                                        [ngClass]="{
                                          'underline text-blue-500': selectedType === 3,
                                          'text-gray-400': selectedType !== 2
                                        }"
                                        role="tab"
                                        [attr.aria-selected]="selectedType === 3"
                                        aria-controls="radix-coming-soon"
                                        [attr.data-state]="selectedType === 3 ? 'active' : 'inactive'"
                                        id="radix-trigger-coming-soon"
                                        class="font-semibold decoration-2 underline-offset-8 transition-colors hover:text-blue-500"
                                        tabindex="-1"
                                        data-orientation="horizontal">
                                  Sắp Chiếu
                                </button>
                              </div>
                            </div>
                    </div>
                </header>
                <label class="flex items-center gap-4">
                  <span class="inline-block pt-2 text-xs uppercase text-gray-200">Lọc theo</span>
                  <div class="relative flex w-max items-center justify-between gap-2 transition-all duration-200 focus-within:text-blue-500 hover:text-blue-500 mt-2">
                    <select
                      class="appearance-none bg-black text-base text-white font-semibold cursor-pointer border border-gray-500 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-150 ease-in-out"
                      name="secondaryFilter"
                      id="secondaryFilter"
                      (change)="handleFilterChange($event)">
                      <option value="" class="text-gray-400">Tất Cả</option>
                      <option *ngFor="let item of getMovieType;" [value]="item.formatId" class="text-white font-medium hover:text-blue-500">
                        {{ item.name }}
                      </option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45" width="1em" height="1em" class="ml-2">
                      <path d="M22.464 29.594 3.067 10.48c-.856-.57-2.283-.285-2.853.856-.285.57-.285 1.141 0 1.997l20.824 20.824c.856.856 1.997.856 2.853 0L44.715 13.62c.57-.856.285-2.282-.856-2.852-.57-.286-1.426-.286-1.997 0z"></path>
                    </svg>
                  </div>
                </label>
                <div data-state="active" data-orientation="horizontal" role="tabpanel"
                    aria-labelledby="radix-:r3u:-trigger-now-playing" id="radix-:r3u:-content-now-playing" tabindex="0"
                    style="animation-duration: 0s;">
                    <div class="grid grid-cols-2 gap-4 py-6 md:grid-cols-[repeat(auto-fill,minmax(225px,1fr))]">
                        @for (item of dataMovies; track $index) {
                            <div  class="flex flex-col gap-2" role="group">
                                <h2 class="sr-only">{{item.movieName}}</h2><a class="w-full" tabindex="-1"
                                    href="/movies/{{item.id}}"><img
                                        alt="Captain America: Brave New World" config="[object Object]" fetchpriority="high"
                                        width="272" height="408" decoding="async" data-nimg="1"
                                        class="aspect-[2/3] w-full object-cover"
                                        srcset="{{item.thumbnail}}"
                                        src="{{item.thumbnail}}"
                                        style="color: transparent;"></a>
                                        
                                        <div class="center-link">
                                            <a
                                              class="group transition-colors hocus:text-blue-500 text-balance headline text-500"
                                              aria-label="Captain America: Brave New World details"
                                              href="/movies/captain-america-brave-new-world-67472">
                                              {{item.movieName}}
                                            </a>
                                          </div>
                                    <div class="center-content grid gap-2 text-100 text-gray-200 caption text-100">
                                        <ul class="flex flex-wrap gap-y-2 leading-none">
                                          <li
                                            class="-translate-x-[0.5ch] pl-[0.5ch] [&:not(:last-child)]:border-r-2 [&:not(:last-child)]:border-r-gray-300 [&:not(:last-child)]:pr-[0.5ch]">
                                            <span class="flex items-center gap-[0.5ch]" aria-label="Runtime: 1 HR 58 MIN" role="group">
                                              {{ item.duration ? (item.duration | durationFormat) : 'N/A' }}
                                              <button
                                                class="h-[1em] w-[1em] text-blue-500 transition-colors hover:text-white"
                                                aria-label="More Info" type="button" aria-haspopup="dialog"
                                                aria-expanded="false" aria-controls="radix-:r41:" data-state="closed">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%" class="h-[1em] w-[1em]">
                                                  <path d="M22.5 45C10.125 45 0 34.875 0 22.5S10.125 0 22.5 0 45 10.125 45 22.5 34.875 45 22.5 45zm0-41.625c-10.35 0-18.9 8.55-18.9 18.9 0 10.35 8.55 18.9 18.9 18.9 10.35 0 18.9-8.55 18.9-18.9 0-10.35-8.55-18.9-18.9-18.9z"></path>
                                                  <path d="M15.75 17.55c0-3.6 3.15-6.075 6.75-6.075 3.15 0 6.75 2.25 6.75 5.625 0 2.25-1.125 3.825-2.925 4.95-.675.45-1.35.9-1.8 1.575-.675.675-.9 1.575-.9 2.7H20.7c-.225-.45-.225-.9-.225-1.35 0-4.5 5.4-4.725 5.4-7.875 0-1.575-1.575-2.7-3.15-2.7-2.025 0-3.375 1.575-3.375 3.375v.675l-3.375-.225c-.225.225-.225-.225-.225-.675zm6.3 15.75c1.125 0 2.025-.9 2.025-2.025s-.9-2.025-2.025-2.025-2.025.9-2.025 2.025c-.225.9.9 2.025 2.025 2.025z"></path>
                                                </svg>
                                              </button>
                                            </span>
                                          </li>
                                          <li
                                            class="-translate-x-[0.5ch] pl-[0.5ch] [&:not(:last-child)]:border-r-2 [&:not(:last-child)]:border-r-gray-300 [&:not(:last-child)]:pr-[0.5ch]">
                                            <span class="inline-flex items-center gap-1 uppercase" aria-label="MPAA Rating: 5 Star" role="group">
                                              {{item.rate}} 🌟
                                            </span>
                                          </li>
                                        </ul>
                                        <p class="pb-2 text-xs">{{item.releaseDate | date:'dd/MM/yyyy'}}</p>
                                        <a
                                          class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white bg-red-500 px-6 min-w-[10ch] hocus:bg-red-400 text-sm md:text-base h-12"
                                          aria-label="Get Tickets for Captain America: Brave New World"
                                          href="/showtimes/movie/{{item.id}}">
                                          Đặt vé
                                        </a>
                                      </div>
                            </div>
                        }
                   
                    </div>
                    <div class="pagination-container">
                        <ul class="pagination modal-5">
                          <li><a (click)="prevPage()" class="prev">&laquo;</a></li>
                          <li *ngFor="let page of pages">
                            <a (click)="changePage(page)" [ngClass]="{ 'active': page === pageIndex }">{{ page }}</a>
                          </li>
                          <li><a (click)="nextPage()" class="next">&raquo;</a></li>
                        </ul>
                      </div>
                    </div>
                <div data-state="inactive" data-orientation="horizontal" role="tabpanel"
                    aria-labelledby="radix-:r3u:-trigger-coming-soon" hidden="" id="radix-:r3u:-content-coming-soon"
                    tabindex="0"></div>
            </div>
        </section>
    </div>

</main>