<div class="flex flex-col">
    
    <main id="main" class="relative flex-1 overflow-auto">
        <div>

            <section class="empty:hidden">
                <style>
                    .CkSeN-sticky {
                        position: sticky
                    }

                    .CkSeN-flex {
                        display: flex
                    }

                    .CkSeN-grid {
                        display: grid
                    }

                    .CkSeN-hidden {
                        display: none
                    }

                    .CkSeN-text-wrap {
                        text-wrap: wrap
                    }

                    .CkSeN-py-8 {
                        padding-bottom: 2rem
                    }

                    .CkSeN-pt-8,
                    .py-8 {
                        padding-top: 2rem
                    }

                    .CkSeN-text-center {
                        text-align: center
                    }

                    .CkSeN-text-800 {
                        font-size: var(--font-size-800)
                    }

                    .CkSeN-uppercase {
                        text-transform: uppercase
                    }

                    .CkSeN-filter {
                        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
                    }

                    .CkSeN-label {
                        font-weight: 700;
                        line-height: 1.5;
                        letter-spacing: -.03em
                    }

                    @media (min-width:768px) {
                        .CkSeN-md\:block {
                            display: block
                        }
                    }
                </style>
                <style>
                    .chart {
                        display: grid;
                        text-align: center;
                        text-wrap: balance;
                        grid-template-columns: repeat(5, minmax(160px, 40vw));
                        gap: 4px;
                        padding: 0;
                        overflow-x: auto;
                        max-width: 1248px;
                        margin: 1rem auto;
                        --purple-light: #431c4a;
                        --purple-dark: #26112a;
                    }

                    .chart .insider {
                        --primary: #1ab7fd;
                    }

                    .chart .premierego {
                        --primary: #5bac99;
                    }

                    .chart .premiere {
                        --primary: #FBAD18;
                    }

                    .chart .alist {
                        --primary: #C13638;
                    }

                    .chart div {
                        color: var(--primary, white);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: clamp(0.2rem, 2vw, 0.75rem);
                    }

                    .chart h1,
                    .chart h2,
                    .chart h3,
                    .chart h4,
                    .chart h5,
                    .chart h6 {
                        font-weight: 700;
                        letter-spacing: -0.03em;
                        line-height: 1.1;
                    }

                    /* h6 is only used for key column, not uppercased */
                    .chart h1,
                    .chart h2,
                    .chart h3,
                    .chart h4,
                    .chart h5 {
                        text-transform: uppercase;
                    }

                    .chart h2 {
                        font-size: var(--font-size-800);
                    }

                    .chart h3 {
                        font-size: var(--font-size-600);
                    }

                    .chart h4 {
                        font-size: var(--font-size-400);
                    }

                    .chart h5,
                    .chart h6 {
                        font-size: var(--font-size-200);
                    }

                    @media (min-width: 768px) {

                        .chart h5,
                        .chart h6 {
                            font-size: var(--font-size-300);
                        }
                    }

                    .chart p {
                        font-size: var(--font-size-100);
                        line-height: 1.25;
                        margin-top: 0.5em;
                    }

                    /* Bullet points */
                    .chart span {
                        font-size: 32px;
                        line-height: 0;
                    }

                    .chart .key {
                        filter: saturate(50%) hue-rotate(325deg);
                        position: sticky;
                        z-index: 10;
                        left: 0;
                    }

                    @media (max-width: 900px) {
                        .chart .key {
                            box-shadow: black 0 0 8px 0;
                        }
                    }

                    .chart .btn {
                        margin-top: 0.5rem;
                    }

                    .chart .btn.white {
                        background: white !important;
                    }

                    :nth-child(1 of .chart .key),
                    :nth-child(1 of .chart .insider),
                    :nth-child(1 of .chart .premierego),
                    :nth-child(1 of .chart .premiere),
                    :nth-child(1 of .chart .alist) {
                        border-radius: 1rem 1rem 0 0;
                    }

                    :nth-child(odd of .chart .key),
                    :nth-child(odd of .chart .insider),
                    :nth-child(odd of .chart .premierego),
                    :nth-child(odd of .chart .premiere),
                    :nth-child(odd of .chart .alist) {
                        background: var(--purple-light);
                    }

                    :nth-child(even of .chart .key),
                    :nth-child(even of .chart .insider),
                    :nth-child(even of .chart .premierego),
                    :nth-child(even of .chart .premiere),
                    :nth-child(even of .chart .alist) {
                        background: var(--purple-dark);
                    }

                    :nth-last-child(1 of .chart .key),
                    :nth-last-child(1 of .chart .insider),
                    :nth-last-child(1 of .chart .premierego),
                    :nth-last-child(1 of .chart .premiere),
                    :nth-last-child(1 of .chart .alist) {
                        border-radius: 0 0 1rem 1rem;
                        color: white;
                        background-color: var(--primary, var(--purple-dark));
                    }
                </style>
                <h2 class="CkSeN-text-center CkSeN-text-800 CkSeN-label CkSeN-pt-8">Compare all Tiers of AMC Stubs</h2>
                <div class="CkSeN-py-8">
                    <div class="chart">
                        <div class="key">
                            <h3>AMC Stubs Benefits</h3>
                        </div>
                        <div class="insider">
                            <h3>Insider</h3>
                        </div>
                        <div class="premierego">
                            <h3>Premiere <em>GO!</em></h3>
                        </div>
                        <div class="premiere">
                            <h3>Premiere</h3>
                        </div>
                        <div class="alist">
                            <h3>A-List</h3>
                        </div>
                        <div class="key">
                            <h6>Points Per $1 Spent</h6>
                            <p>Earn a $5 Reward for Every 5,000 points</p>
                        </div>
                        <div class="insider">
                            <h2>20</h2>
                            <h4>Points</h4>
                        </div>
                        <div class="premierego">
                            <h2>40</h2>
                            <h4>Points</h4>
                        </div>
                        <div class="premiere">
                            <h2>100</h2>
                            <h4>Points</h4>
                        </div>
                        <div class="alist">
                            <h2>100</h2>
                            <h4>Points</h4>
                        </div>
                        <div class="key">
                            <h6>Rewards Can Be Redeemed For:</h6>
                            <p>(5,000 Points = $5 Reward)</p>
                        </div>
                        <div class="insider">
                            <h4>Concessions</h4>
                        </div>
                        <div class="premierego">
                            <h4>Concessions + Tickets</h4>
                        </div>
                        <div class="premiere">
                            <h4>Concessions + Tickets</h4>
                        </div>
                        <div class="alist">
                            <h4>Concessions + Tickets</h4>
                        </div>
                        <div class="key">
                            <h6>Waived Online Ticketing Fees</h6>
                            <p>At AMCTheatres.com and on Our App</p>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego">
                            <h4>4+ Tickets</h4>
                        </div>
                        <div class="premiere">
                            <h4>Every Time</h4>
                        </div>
                        <div class="alist">
                            <h4>Every Time</h4>
                        </div>
                        <div class="key">
                            <h6>Waived Concession Service Fees</h6>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Birthday Gift</h6>
                        </div>
                        <div class="insider">
                            <h5>Large Popcorn</h5>
                        </div>
                        <div class="premierego">
                            <h5>Large Popcorn &amp; Fountain Drink</h5>
                        </div>
                        <div class="premiere">
                            <h5>Large Popcorn &amp; Fountain Drink</h5>
                        </div>
                        <div class="alist">
                            <h5>Large Popcorn &amp; Fountain Drink</h5>
                        </div>
                        <div class="key">
                            <h6>Discount Tuesdays</h6>
                            <p class="CkSeN-hidden CkSeN-md:block">Weekly Ticket Savings</p>
                        </div>
                        <div class="insider"><span>•</span></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>FREE Large Popcorn Refill</h6>
                        </div>
                        <div class="insider"><span>•</span></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Exclusive Offers &amp; Screenings</h6>
                        </div>
                        <div class="insider"><span>•</span></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Point Earning Bonuses</h6>
                        </div>
                        <div class="insider"><span>•</span></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>No Expiration on AMC Stubs Points*</h6>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>FREE Size Upgrades</h6>
                            <p>On Popcorn &amp; Fountain Drinks</p>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Priority Lanes</h6>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"><span>•</span></div>
                        <div class="premiere"><span>•</span></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Up to 3 Movies Every Week Included</h6>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"></div>
                        <div class="premiere"></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Watch Movies in any Format with No Added Fees</h6>
                            <p class="CkSeN-hidden CkSeN-md:block">(Dolby Cinema at AMC, IMAX®, RealD® 3D &amp; More)
                            </p>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"></div>
                        <div class="premiere"></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h6>Access to A-List Entourage</h6>
                        </div>
                        <div class="insider"></div>
                        <div class="premierego"></div>
                        <div class="premiere"></div>
                        <div class="alist"><span>•</span></div>
                        <div class="key">
                            <h4>Get Started Today</h4>
                        </div>
                        <div class="insider">
                            <h4>Sign Up for Free</h4><a
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12 btn white"
                                href="/sign-up/insider?rel=insider_loy_chart" data-gtm-link-position="1">Join Now</a>
                        </div>
                        <div class="premierego">
                            <h4>Earn Your Way to Premium Perks</h4><a
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white bg-red-500 px-6 min-w-[10ch] hocus:bg-red-400 text-sm md:text-base h-12 btn"
                                href="/showtimes?rel=premierego_loy_chart" data-gtm-link-position="2">Get Tickets</a>
                        </div>
                        <div class="premiere">
                            <h4>Join for $17.99 +tax/year</h4><a
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12 btn white"
                                href="/sign-up/premiere?premiere_loy_chart">Join Now</a>
                        </div>
                        <div class="alist">
                            <h4>Subscribe for a Low Monthly Fee</h4><a
                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12 btn white"
                                href="/sign-up/a-list?rel=alist_loy_chart" data-gtm-link-position="3">Join Now</a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="empty:hidden">
                <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0">
                    <div class="rich-text">
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">*Next Billing Date
                                refers to the date the payment should post as cleared to your credit card account.
                                Actual transaction date may vary.</span></p>
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">AMC Stubs members
                                can earn points and redeem rewards on eligible purchases only. Exclusions apply. Visit
                                our&nbsp;</span><a class="group transition-colors text-blue-500 hocus:text-white"
                                target="_self"
                                href="/faqs/amc-stubs#about-amc-stubs--rewards-and-benefits--points-and-rewards"><span
                                    class="italic text-200 footnote"
                                    style="color: rgb(148, 166, 171);">FAQs</span></a><span
                                class="italic text-200 footnote" style="color: rgb(148, 166, 171);">&nbsp;to see
                                qualifying transactions for points earn and rewards.</span></p>
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">Priority Lanes
                                available at participating locations only.</span></p>
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">Discount applies
                                to full-price tickets for Tuesday showtimes only and varies by location. Surcharges for
                                premium formats and special events. Exclusions apply. Visit&nbsp;</span><a
                                class="group transition-colors text-blue-500 hocus:text-white" target="_self"
                                href="/amcstubs/terms-and-conditions#discount-tuesdays"><span
                                    class="italic text-200 footnote"
                                    style="color: rgb(26, 183, 253);">AMCStubs.com/terms-and-conditions</span></a><span
                                class="italic text-200 footnote" style="color: rgb(148, 166, 171);">&nbsp;</span><span
                                class="italic text-200 footnote" style="color: rgb(148, 166, 171);">for applicable
                                pricing by state and full program details.</span></p>
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">AMC Stubs members
                                are eligible for one large popcorn refill on day of purchase only. Gourmet popcorn is
                                excluded.</span></p>
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">AMC Stubs
                                membership and benefits valid at participating locations only. Pricing and benefits are
                                subject to change. For a full list of applicable terms and conditions
                                visit&nbsp;</span><a class="group transition-colors text-white hocus:text-blue-500"
                                target="_self" href="/amcstubs/terms-and-conditions"><span class="text-200 footnote"
                                    style="color: rgb(26, 183, 253);">AMCStubs.com/terms-and-conditions</span></a><span
                                class="italic text-200 footnote" style="color: rgb(148, 166, 171);">.</span></p>
                        <p
                            class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                            <span class="italic text-200 footnote" style="color: rgb(148, 166, 171);">AMC Stubs A-List
                                membership terms and benefits are subject to change. Valid at participating AMC Theatres
                                locations only. Monthly recurring charge until cancellation. Check individual showtimes
                                for details. Exclusions may apply. Visit&nbsp;</span><a
                                class="group transition-colors text-blue-500 hocus:text-white" target="_self"
                                href="/amcstubs/terms-and-conditions"><span class="text-200 footnote"
                                    style="color: rgb(26, 183, 253);">AMCStubs.com/terms-and-conditions</span></a><span
                                class="italic text-200 footnote" style="color: rgb(148, 166, 171);">&nbsp;</span><span
                                class="italic text-200 footnote" style="color: rgb(148, 166, 171);">for an overview of
                                benefits and complete list of applicable terms and conditions.</span></p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>