.date-picker-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
  }
  
  .hidden {
    display: none;
  }
  
  .mat-form-field {
    width: 100%;
  }