<body
    class="relative bg-black text-white [&amp;:has(dialog[open],[data-body-scroll=disabled])]:overflow-hidden bg-cover bg-no-repeat md:[background-image:var(--desktop-background-image)] [background-image:var(--mobile-background-image)]"
    monica-id="ofpnmcalabcbjgholdjcjblkibolbppb" monica-version="7.8.0"
    style="--desktop-background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,w_1920,g_auto/f_auto/q_auto:low/amc-cdn/static/images/2024/bg-landscape-amc-stubs.png); --mobile-background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,w_768,g_auto/f_auto/q_auto:low/amc-cdn/static/images/2024/bg-portrait-amc-stubs.png);">

    <div class="flex h-[100dvh] flex-col">
        <header class="flex flex-col border-b border-gray-700 bg-checkout-black sticky top-0 z-10"
            style="background-image: inherit; background-repeat: no-repeat; background-size: cover;">
            <div class="border-b border-gray-700 bg-checkout-black">
                <div
                    class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 relative flex items-center justify-center py-4 text-400 label">
                    <h1>Create an Account</h1> <button type="button"
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-white hocus:text-blue-500 p-2 text-sm md:text-base absolute right-0 top-0"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor"
                            viewBox="0 0 45 45" width="1em" height="100%" class="m-2 h-5 w-5">
                            <title>Close</title>
                            <path stroke-width="4.0358"
                                d="M40.341 4.769a1.112 1.112 0 0 1-.022 1.587L24.071 22.604 40.32 38.85a1.112 1.112 0 0 1-1.566 1.566L22.506 24.169 6.236 40.417a1.112 1.112 0 0 1-1.565-1.566l16.27-16.247L4.67 6.356a1.125 1.125 0 0 1-.303-.767A1.13 1.13 0 0 1 5.49 4.465c.285 0 .56.11.768.304l16.248 16.269 16.268-16.27a1.117 1.117 0 0 1 1.566 0Z">
                            </path>
                        </svg></button>
                </div>
            </div>
        </header>
        <main id="main" class="relative flex-1 overflow-auto h-full">
            <div class="h-full w-full">
                <div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 mt-8 gap-2 md:max-w-[800px]">
                    <div class="md:gap-4"><img alt="AMC Stubs Insider Logo" config="[object Object]" loading="lazy"
                            width="300" height="150" decoding="async" data-nimg="1"
                            class="pointer-events-none mx-auto mb-6 h-[50px] w-auto"
                            srcset="https://amc-theatres-res.cloudinary.com/image/upload/c_limit,w_300/e_trim/f_auto/q_auto/amc-cdn/static/images/2024/logo-horizontal-color-insider.png 1x, https://amc-theatres-res.cloudinary.com/image/upload/c_limit,w_300/e_trim/f_auto/q_auto/amc-cdn/static/images/2024/logo-horizontal-color-insider.png 2x"
                            src="https://amc-theatres-res.cloudinary.com/image/upload/c_limit,w_300/e_trim/f_auto/q_auto/amc-cdn/static/images/2024/logo-horizontal-color-insider.png"
                            style="color: transparent;">
                        <div class="rich-text">
                            <h2 class="mb-4 mt-6 text-center justify-center"><span class="text-300 caption">Join today
                                    to get exclusive member benefits and start earning rewards!</span></h2>
                        </div>
                    </div>
                    <div class="flex-1 pb-6">
                        <form class="grid grid-cols-6 gap-x-4 gap-y-6" aria-label="Sign-Up"><label
                                class="text-300 [&amp;:has(input[disabled])]:cursor-not-allowed col-span-6 grid gap-2"><span
                                    class="label">Email</span>
                                <div class="amc-input amc-input--box"><input class="input" id="email" inputmode="email"
                                        autocomplete="email" type="email" name="email"></div>
                            </label><label
                                class="text-300 [&amp;:has(input[disabled])]:cursor-not-allowed col-span-6 grid gap-2"><span
                                    class="label">Create a Password</span>
                                <div class="amc-input amc-input--box"><input class="input" autocomplete="new-password"
                                        type="password" name="password"><button type="button" class="cursor-pointer"
                                        aria-label="Show Password" tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 45 45" width="1em" height="100%"
                                            class="transition-all duration-200 hover:fill-blue-500">
                                            <title>Show Password</title>
                                            <path
                                                d="M22.253 17.544a10.428 10.428 0 1 0 10.427 10.54 10.456 10.456 0 0 0-10.427-10.54zm0 15.825a5.397 5.397 0 1 1 5.396-5.285 5.397 5.397 0 0 1-5.396 5.285z">
                                            </path>
                                            <path
                                                d="M44.26 17.235a28.107 28.108 0 0 0-44.044 0 2.53 2.53 0 0 0 4.104 2.81 22.964 22.964 0 0 1 35.837 0 2.53 2.53 0 1 0 4.104-2.81z">
                                            </path>
                                        </svg></button></div>
                                <p class="text-gray-subtle text-sm font-semibold leading-tight tracking-normal">Must
                                    contain an uppercase letter and a number or special character.</p>
                            </label>
                            <div class="col-span-6 grid grid-cols-2 gap-4"><label
                                    class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                                        class="label">First Name</span>
                                    <div class="amc-input amc-input--box"><input class="input" id="first-name"
                                            type="text" name="firstName"></div>
                                </label><label
                                    class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                                        class="label">Last Name</span>
                                    <div class="amc-input amc-input--box"><input class="input" id="last-name"
                                            type="text" name="lastName"></div>
                                </label></div><label
                                class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed col-span-6"><span
                                    class="label">Birthday</span>
                                <div role="group" aria-label="Birthday" class="flex flex-wrap gap-4 w-full"><label
                                        class="min-w-max flex-1"><span class="sr-only">Birthday Month</span>
                                        <div class="amc-input amc-input--box relative"><select class=""
                                                aria-invalid="false">
                                                <option value="">Month</option>
                                                <option value="01">Jan</option>
                                                <option value="02">Feb</option>
                                                <option value="03">Mar</option>
                                                <option value="04">Apr</option>
                                                <option value="05">May</option>
                                                <option value="06">Jun</option>
                                                <option value="07">Jul</option>
                                                <option value="08">Aug</option>
                                                <option value="09">Sep</option>
                                                <option value="10">Oct</option>
                                                <option value="11">Nov</option>
                                                <option value="12">Dec</option>
                                            </select><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                viewBox="0 0 45 45" width="1em" height="100%"
                                                class="pointer-events-none absolute right-4 h-[1em] w-[1em]"
                                                aria-label="Expand Options">
                                                <path
                                                    d="M22.464 29.594 3.067 10.48c-.856-.57-2.283-.285-2.853.856-.285.57-.285 1.141 0 1.997l20.824 20.824c.856.856 1.997.856 2.853 0L44.715 13.62c.57-.856.285-2.282-.856-2.852-.57-.286-1.426-.286-1.997 0z">
                                                </path>
                                            </svg></div>
                                    </label><label class="min-w-max flex-1"><span class="sr-only">Birthday Day</span>
                                        <div class="amc-input amc-input--box relative"><select class="" name="day"
                                                aria-invalid="false">
                                                <option value="">Day</option>
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                                <option value="06">6</option>
                                                <option value="07">7</option>
                                                <option value="08">8</option>
                                                <option value="09">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                viewBox="0 0 45 45" width="1em" height="100%"
                                                class="pointer-events-none absolute right-4 h-[1em] w-[1em]"
                                                aria-label="Expand Options">
                                                <path
                                                    d="M22.464 29.594 3.067 10.48c-.856-.57-2.283-.285-2.853.856-.285.57-.285 1.141 0 1.997l20.824 20.824c.856.856 1.997.856 2.853 0L44.715 13.62c.57-.856.285-2.282-.856-2.852-.57-.286-1.426-.286-1.997 0z">
                                                </path>
                                            </svg></div>
                                    </label><label class="min-w-max flex-1"><span class="sr-only">Birthday Year</span>
                                        <div class="amc-input amc-input--box relative"><select class=""
                                                aria-invalid="false">
                                                <option value="">Year</option>
                                                <option value="2012">2012</option>
                                                <option value="2011">2011</option>
                                                <option value="2010">2010</option>
                                                <option value="2009">2009</option>
                                                <option value="2008">2008</option>
                                                <option value="2007">2007</option>
                                                <option value="2006">2006</option>
                                                <option value="2005">2005</option>
                                                <option value="2004">2004</option>
                                                <option value="2003">2003</option>
                                                <option value="2002">2002</option>
                                                <option value="2001">2001</option>
                                                <option value="2000">2000</option>
                                                <option value="1999">1999</option>
                                                <option value="1998">1998</option>
                                                <option value="1997">1997</option>
                                                <option value="1996">1996</option>
                                                <option value="1995">1995</option>
                                                <option value="1994">1994</option>
                                                <option value="1993">1993</option>
                                                <option value="1992">1992</option>
                                                <option value="1991">1991</option>
                                                <option value="1990">1990</option>
                                                <option value="1989">1989</option>
                                                <option value="1988">1988</option>
                                                <option value="1987">1987</option>
                                                <option value="1986">1986</option>
                                                <option value="1985">1985</option>
                                                <option value="1984">1984</option>
                                                <option value="1983">1983</option>
                                                <option value="1982">1982</option>
                                                <option value="1981">1981</option>
                                                <option value="1980">1980</option>
                                                <option value="1979">1979</option>
                                                <option value="1978">1978</option>
                                                <option value="1977">1977</option>
                                                <option value="1976">1976</option>
                                                <option value="1975">1975</option>
                                                <option value="1974">1974</option>
                                                <option value="1973">1973</option>
                                                <option value="1972">1972</option>
                                                <option value="1971">1971</option>
                                                <option value="1970">1970</option>
                                                <option value="1969">1969</option>
                                                <option value="1968">1968</option>
                                                <option value="1967">1967</option>
                                                <option value="1966">1966</option>
                                                <option value="1965">1965</option>
                                                <option value="1964">1964</option>
                                                <option value="1963">1963</option>
                                                <option value="1962">1962</option>
                                                <option value="1961">1961</option>
                                                <option value="1960">1960</option>
                                                <option value="1959">1959</option>
                                                <option value="1958">1958</option>
                                                <option value="1957">1957</option>
                                                <option value="1956">1956</option>
                                                <option value="1955">1955</option>
                                                <option value="1954">1954</option>
                                                <option value="1953">1953</option>
                                                <option value="1952">1952</option>
                                                <option value="1951">1951</option>
                                                <option value="1950">1950</option>
                                                <option value="1949">1949</option>
                                                <option value="1948">1948</option>
                                                <option value="1947">1947</option>
                                                <option value="1946">1946</option>
                                                <option value="1945">1945</option>
                                                <option value="1944">1944</option>
                                                <option value="1943">1943</option>
                                                <option value="1942">1942</option>
                                                <option value="1941">1941</option>
                                                <option value="1940">1940</option>
                                                <option value="1939">1939</option>
                                                <option value="1938">1938</option>
                                                <option value="1937">1937</option>
                                                <option value="1936">1936</option>
                                                <option value="1935">1935</option>
                                                <option value="1934">1934</option>
                                                <option value="1933">1933</option>
                                                <option value="1932">1932</option>
                                                <option value="1931">1931</option>
                                                <option value="1930">1930</option>
                                                <option value="1929">1929</option>
                                                <option value="1928">1928</option>
                                                <option value="1927">1927</option>
                                                <option value="1926">1926</option>
                                                <option value="1925">1925</option>
                                                <option value="1924">1924</option>
                                                <option value="1923">1923</option>
                                                <option value="1922">1922</option>
                                                <option value="1921">1921</option>
                                                <option value="1920">1920</option>
                                                <option value="1919">1919</option>
                                                <option value="1918">1918</option>
                                                <option value="1917">1917</option>
                                                <option value="1916">1916</option>
                                                <option value="1915">1915</option>
                                            </select><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                viewBox="0 0 45 45" width="1em" height="100%"
                                                class="pointer-events-none absolute right-4 h-[1em] w-[1em]"
                                                aria-label="Expand Options">
                                                <path
                                                    d="M22.464 29.594 3.067 10.48c-.856-.57-2.283-.285-2.853.856-.285.57-.285 1.141 0 1.997l20.824 20.824c.856.856 1.997.856 2.853 0L44.715 13.62c.57-.856.285-2.282-.856-2.852-.57-.286-1.426-.286-1.997 0z">
                                                </path>
                                            </svg></div>
                                    </label></div>
                                <p class="text-gray-subtle text-sm font-semibold leading-tight tracking-normal">Your
                                    name and birthday must match your photo ID to use some AMC Stubs benefits at the
                                    theatre.</p>
                            </label><label
                                class="text-300 [&amp;:has(input[disabled])]:cursor-not-allowed col-span-6 grid gap-2"><span
                                    class="label">Favorite Theatre</span>
                                <div class="amc-input amc-input--box"><input class="input"
                                        placeholder="Search by City, Zip or Theatre" type="text" value=""
                                        name="favoriteTheatre"><button type="button"><svg
                                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                            width="1em" height="100%"
                                            class="transition-all duration-200 hover:fill-blue-500">
                                            <title>Search Theatres</title>
                                            <path
                                                d="M37.151 17.176A17.176 17.176 0 1 0 19.976 34.35 17.204 17.204 0 0 0 37.15 17.176zM19.976 32.27A15.095 15.095 0 1 1 35.07 17.176 15.095 15.095 0 0 1 19.976 32.27zm13.493.393a1.05 1.05 0 0 0-1.63 1.322l8.573 10.625a1.05 1.05 0 1 0 1.63-1.32z">
                                            </path>
                                        </svg></button></div><button type="button"
                                    class="text-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white flex items-center gap-2 text-sm md:text-base"><svg
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                        width="1em" height="100%">
                                        <path
                                            d="M45 22.5a1.012 1.012 0 0 0-1.013-1.012h-4.612A16.875 16.875 0 0 0 23.512 5.625V1.013a1.012 1.012 0 0 0-2.024 0v4.612A16.875 16.875 0 0 0 5.963 21.488h-4.95a1.012 1.012 0 0 0 0 2.024H5.99A16.706 16.706 0 0 0 21.488 39.01v4.978a1.012 1.012 0 0 0 2.024 0v-4.95a16.875 16.875 0 0 0 15.863-15.524h4.64A1.012 1.012 0 0 0 45 22.5zM22.669 37.097A14.766 14.766 0 1 1 37.434 22.33 14.794 14.794 0 0 1 22.67 37.097z">
                                        </path>
                                        <path
                                            d="M22.669 12.769a9.563 9.563 0 1 0 9.562 9.562 9.59 9.59 0 0 0-9.562-9.562zm0 17.128a7.566 7.566 0 1 1 7.565-7.538 7.566 7.566 0 0 1-7.565 7.538z">
                                        </path>
                                    </svg>Use Current Location</button>
                            </label>
                            <div role="radiogroup" aria-labelledby="stockholder-group"
                                class="col-span-6 grid gap-2 border-t border-gray-500 pt-6"><span id="stockholder-group"
                                    class="text-sm font-semibold leading-tight tracking-normal">(Optional) Are you an
                                    AMC stockholder? <button
                                        class="h-[1em] w-[1em] transition-colors hover:text-white text-base text-gray-300"
                                        aria-label="More Info" type="button" aria-haspopup="dialog"
                                        aria-expanded="false" aria-controls="radix-:ro4:" data-state="closed"><svg
                                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45 45"
                                            width="1em" height="100%" class="h-[1em] w-[1em]">
                                            <path
                                                d="M22.5 45C10.125 45 0 34.875 0 22.5S10.125 0 22.5 0 45 10.125 45 22.5 34.875 45 22.5 45zm0-41.625c-10.35 0-18.9 8.55-18.9 18.9 0 10.35 8.55 18.9 18.9 18.9 10.35 0 18.9-8.55 18.9-18.9 0-10.35-8.55-18.9-18.9-18.9z">
                                            </path>
                                            <path
                                                d="M15.75 17.55c0-3.6 3.15-6.075 6.75-6.075 3.15 0 6.75 2.25 6.75 5.625 0 2.25-1.125 3.825-2.925 4.95-.675.45-1.35.9-1.8 1.575-.675.675-.9 1.575-.9 2.7H20.7c-.225-.45-.225-.9-.225-1.35 0-4.5 5.4-4.725 5.4-7.875 0-1.575-1.575-2.7-3.15-2.7-2.025 0-3.375 1.575-3.375 3.375v.675l-3.375-.225c-.225.225-.225-.225-.225-.675zm6.3 15.75c1.125 0 2.025-.9 2.025-2.025s-.9-2.025-2.025-2.025-2.025.9-2.025 2.025c-.225.9.9 2.025 2.025 2.025z">
                                            </path>
                                        </svg></button></span>
                                <div class="flex gap-4"><label><span class="label flex items-center gap-2"><input
                                                class="m-1 max-h-5 min-h-5 w-5 min-w-5 max-w-5 appearance-none rounded-full border-2 border-white/60 checked:border-blue checked:bg-gradient-radial checked:from-blue-500 checked:from-30% checked:to-transparent checked:to-40% checked:hover:from-blue-700"
                                                type="radio" value="no" name="isShareholder">
                                            No</span></label><label><span class="label flex items-center gap-2"><input
                                                class="m-1 max-h-5 min-h-5 w-5 min-w-5 max-w-5 appearance-none rounded-full border-2 border-white/60 checked:border-blue checked:bg-gradient-radial checked:from-blue-500 checked:from-30% checked:to-transparent checked:to-40% checked:hover:from-blue-700"
                                                type="radio" value="yes" name="isShareholder"> Yes</span></label></div>
                            </div>
                            <div class="col-span-6 [&amp;_p]:mb-0" role="group" aria-label="Terms and Conditions"><label
                                    class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed mb-2">
                                    <div class="flex items-start gap-2">
                                        <div class="m-1 inline-block h-5 w-5"><input
                                                class="h-5 w-5 appearance-none rounded border bg-[length:75%] bg-[50%] bg-no-repeat border-2 border-white/60 checked:border-0 checked:bg-blue-500 checked:bg-[url(https://amc-theatres-res.cloudinary.com/amc-cdn/static/images/forms/checkbox_checkmark.png)] checked:hover:bg-blue-700 disabled:cursor-not-allowed disabled:brightness-50 disabled:grayscale"
                                                type="checkbox" name="termsAndConditions.0"></div>
                                        <div class="rich-text">
                                            <p
                                                class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                                                <span class="text-300 caption">I agree to the</span><span
                                                    class="text-300 caption">&nbsp;</span><a
                                                    class="group transition-colors text-blue-500 hocus:text-white"
                                                    rel="noopener noreferrer" target="_blank"
                                                    href="/amcstubs/terms-and-conditions"><span
                                                        class="text-300 caption">AMC Stubs Terms &amp;
                                                        Conditions</span></a><span
                                                    class="italic text-300 footnote">.</span></p>
                                        </div>
                                    </div>
                                </label><label
                                    class="grid gap-2 text-300 [&amp;:has(input[disabled])]:cursor-not-allowed"><span
                                        class="label flex items-center gap-2">
                                        <div class="m-1 inline-block h-5 w-5"><input
                                                class="h-5 w-5 appearance-none rounded border bg-[length:75%] bg-[50%] bg-no-repeat border-2 border-white/60 checked:border-0 checked:bg-blue-500 checked:bg-[url(https://amc-theatres-res.cloudinary.com/amc-cdn/static/images/forms/checkbox_checkmark.png)] checked:hover:bg-blue-700 disabled:cursor-not-allowed disabled:brightness-50 disabled:grayscale"
                                                readonly="" type="checkbox" checked=""></div><span
                                            class="text-300 caption">Subscribe to AMC communications for exclusive
                                            offers and the latest move news. <button type="button"
                                                class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-blue-500 hocus:text-white text-sm md:text-base">Details</button></span>
                                    </span></label>
                                <div class="flex flex-wrap items-center gap-4 py-4 justify-end col-span-6"><button
                                        type="submit"
                                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full text-black bg-white px-6 min-w-[10ch] hocus:bg-blue-500 text-sm md:text-base h-12">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div role="region" aria-label="Notifications (F8)" tabindex="-1" style="pointer-events:none">
        <ol tabindex="-1" class="fixed bottom-0 right-0 grid w-full max-w-full gap-4 p-4 md:w-96"></ol>
    </div>
    <dialog
        class="flex items-center justify-center empty:hidden w-[100vw] h-[100dvh] bg-transparent max-w-[100vw] max-h-[100dvh]">
    </dialog>
</body>