<div>
    <section class="empty:hidden"><!--$-->
        <section class="relative h-[var(--mobile-height)] overflow-clip md:h-[var(--desktop-height)]"
            style="--desktop-height:450px;--mobile-height:410px">
            <div class="relative flex h-[var(--mobile-height,410px)] items-end md:h-[var(--desktop-height,450px)]"><img
                    alt="" config="[object Object]" loading="lazy" decoding="async" data-nimg="fill"
                    class="hidden md:block absolute inset-0 z-0 w-full object-cover pointer-events-none object-right"
                    style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                    sizes="100vw"
                    srcset="https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 640w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 750w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 828w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 1080w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 1200w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 1920w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 2048w, 
                    https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg 3840w"
                    src="https://cdn.galaxycine.vn/media/2024/10/1/aeon-hue-4_1727752175925.jpg">
                <div class="absolute inset-0 bg-hero-gradient"></div>
                <div class="mx-auto w-full max-w-[1248px] px-4 xl:px-0 relative">
                    <div class="grid gap-2 md:w-[var(--desktop-content-width)] md:pb-10 md:mr-auto"
                        style="--desktop-content-width:66%">
                        <header>
                            <h2 class="text-balance text-900 headline">Chúng tôi có thể giúp gì bạn?</h2>
                        </header>
                        <div class="rich-text text-400 copy">
                            <p
                                class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                                <br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/$-->
    </section>
    <div class="empty:hidden">
        <section class="mx-auto max-w-[1248px] px-2 py-8 empty:hidden sm:px-4 xl:px-0"><!--$-->
            <div class="rich-text">
                <p class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                    <span class="">Nhận trợ giúp nhanh chóng với các tùy chọn.</span></p>
                <p class="mb-4 flex-wrap items-center gap-4 [&amp;:has([data-rt-component=&quot;button&quot;])]:flex">
                    <button
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm md:text-base h-12"
                        data-rt-component="button" type="button">Yêu Cầu Hoàn Tiền</button><span class=""> </span><a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm md:text-base h-12"
                        data-rt-component="button" target="_self" href="">Gửi Lại Vé Điện Tử
                        Email</a><span class=""> </span><a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm md:text-base h-12"
                        data-rt-component="button" target="_self" href="">Cách Quy Đổi Điểm</a><span
                        class=""> </span><a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm md:text-base h-12"
                        data-rt-component="button" target="_self" href="thethanhvien">Thẻ Thành Viên</a><span class=""> </span><a
                        class="inline-flex text-center items-center justify-center w-max font-bold transition duration-200 disabled:opacity-40 rounded-full ring-inset ring-2 ring-white hocus:ring-blue-500 hocus:text-blue-500 text-white outline-offset-[-5px] px-6 min-w-[10ch] text-sm md:text-base h-12"
                        data-rt-component="button" target="_self" href="dieukhoan-dieukien" target="_blank">Điều Khoản &amp; Điều Kiện </a></p>
            </div><!--/$-->
        </section>
    </div>

</div>